.background {
  width: 100%;
  height: 1000px;
  color: #FCDEBE;
  display: flex;
}

.divyA {
  padding: 2px;
  text-align: center;
  background: #808fa7;
  font-size: 20px;
  color: #FCDEBE;
  flex-direction: row;
  font-family: 'Dosis';
  font-weight: bolder;
}

.divyC {
  padding: 2px;
  text-align: center;
  background: #242f47;
  font-size: 20px;
  color: #FCDEBE;
  flex-direction: row;
  font-family: 'Dosis';
  font-weight: bolder;
}

.divyB {
  padding: 2px;
  background: #D4D2A0;
  flex-direction: column;
  align-content: stretch;
  font-size: 20px;
  color: #3A440D;
  font-family: 'Dosis';
}

.headerA {
  font-size: 20px;
  font-weight: bold;
}

.tea {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

.topHeader {
  padding: 30px;
  text-align: center;
  background: #928779;
  font-family: 'Dosis';
  font-size: 100px;
}